.Game {
    height: 100%;
    margin: 0 auto;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Game-status {
    margin: 20px 0;
}

.Game-text {
    font-size: 23px;
    margin: 0 0;
}

.Game-controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Game-select {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.Game-select > * {
    margin: 0 4px;
}

.Game-button {
    width: 100px;
    cursor: pointer;
    padding: 5px 0;
}

