.Tile {
    fill: transparent;
}


.Tile-border {
    stroke-width: 0.5;
    stroke: #eeeeee;
}

.Tile--Empty {
    cursor: pointer;
    stroke: transparent;
    fill: transparent;
}

.Tile--X {
    stroke-width: 1;
    stroke: #00f;
}
.Tile--O {
    stroke-width: 1;
    stroke: #ff0505;
}
